<% flash.each do |key, value| %>
    <div id='flash' class="flash flash_<%= key %>">
      <%= value %>
    </div>
<% end %>
<article class="entry-post">
  <header class="entry-header">
    <h1><%= @post.title %></h1>

    <div class="byline">
      <i class="icon-pencil"></i> <%= "#{@post.author.username}" if @post.author.present? %>&nbsp;&nbsp;
      <i class="icon-time"></i>
      <abbr class="published" title="<%= Russian::strftime(@post.published_at.to_date, "%A, %d %B %Y") %>">
        <time datetime="<%= l @post.published_at.to_date, :format => :default %>">
          <%= Russian::strftime(@post.published_at.to_date, " %d %b %Y") %>
        </time>
      </abbr>&nbsp;&nbsp;
      <% if (categories = @post.categories).any? %>
          <i class="icon-comments-alt"></i>

          <% if Refinery::Blog::Post.comments_allowed? %>
              <% if @post.comments.approved.any? %>
                  <%= link_to "(#{@post.comments.approved.count} #{Russian::pluralize(@post.comments.approved.count, "комментарий", "комментария", "комментариев")})", refinery.blog_post_path(@post) << '#comments' %>
              <% else %>
                  (<%= t('none', :scope => 'refinery.blog.shared.comments') %>)
              <% end %>
          <% end %>




          </div>
          <% if @post.source_url.present? %>
              <div class='blog_source'>
                <%= "#{t('source', :scope => 'refinery.blog.posts.show')}: " %>
                <%= link_to (@post.source_url_title.blank? ? @post.source_url : @post.source_url_title), @post.source_url %>
              </div>
          <% end %>
          <div class="entry-meta">
            <i class="icon-folder-open"></i><%= categories.count ==1 ? "Категория:" : "Категории:" %>

            <%= raw categories.collect { |category| link_to category.title, refinery.blog_category_path(category) }.to_sentence({:two_words_connector => ", ", :last_word_connector => ", "}) %>
      <% end %>
      <% if (tags = @post.tags).any? %>
          &nbsp;&nbsp;<i class="icon-tags"></i><%= @post.tags.count ==1 ? "Тег:" : "Теги:" %> <%= raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.to_sentence({:two_words_connector => ", ", :last_word_connector => ", "}) %>
      <% end %>
      </div>

      <div class="addthis_toolbox addthis_16x16_style"><a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a> <a class="addthis_button_preferred_7"></a>
        <a class="addthis_button_preferred_6"></a> <a class="addthis_button_preferred_10"></a>
        <a class="addthis_button_preferred_4"></a> <a class="addthis_button_compact"></a></div>
      </header>

  <div class="entry-content">
    <%= @post.body.html_safe %>
    <% if Refinery::Blog::Post::ShareThis.enabled? %>
        <span class="st_sharethis" displayText="ShareThis"></span>
    <% end %>
  </div>

  <div class="entry-tags">
    <% if (tags = @post.tags).any? %>
        &nbsp;&nbsp;<i class="icon-tags"></i>Теги:<br class="clear"/>
        <nav id='tags'>
          <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
              <%= link_to tag.name, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize), :class => "tag" %>
          <% end %>
        </nav>
    <% end %>
  </div>
  <footer class="entry-footer">
        <span class="blog date">
          <span class="day"><%= Russian::strftime(@post.published_at.to_date, "%d") %></span>
          <span class="month"> <%= Russian::strftime(@post.published_at, "%b") %></span>
          <span class="year"><%= Russian::strftime(@post.published_at, "%Y") %>
          </span>
        </span>

    <div class="addthis_toolbox addthis_16x16_style"><a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a> <a class="addthis_button_preferred_7"></a>
      <a class="addthis_button_preferred_6"></a> <a class="addthis_button_preferred_10"></a>
      <a class="addthis_button_preferred_4"></a> <a class="addthis_button_compact"></a></div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50b7b03737b7ccb9"></script>
  </footer>
</article>
<%= render :partial => '/refinery/draft_page_message' unless @post.nil? or @post.live? -%>
<%= render 'nav' if next_or_previous?(@post) %>




