<%= render '/shared/visible_phone' %>
<div class="hero-unit">
  <div class="container">
    <h2>Сельская жизнь от А до Я</h2>
  </div>
</div>
<div class="container clearfix" id="main-content">
  <div class="row-fluid sidebar-right">
    <div class="span9 blog-summary primary-column">
      <% if @posts.any? %>

          <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>

          <div class="apple_pagination">
            <div class="page_info">
            </div>
            <%= will_paginate @posts, :container => false %>
          </div>
      <% else %>
          <p><%= t('.no_blog_articles_yet') %></p>
      <% end %>
    </div>
    <section class="span3 sidebar secondary-column" id="secondary-nav">
      <%= render :partial => "/refinery/blog/shared/categories" %>
      <%= render :partial => "/refinery/blog/shared/posts" %>
      <%= render :partial => "/refinery/blog/shared/tags" %>
      <%= blog_archive_widget %>
    </section>
  </div>
</div>


