<%= render '/shared/visible_phone' %>
<div class="hero-unit">
  <div class="container">
    <h2><%= @category.title %></h2>
  </div>
</div>

<div class="container clearfix" id="main-content">
  <div class="row-fluid sidebar-right">
    <div class="span9 blog-summary primary-column">

      <% if @posts.any? %>
          <section id="blog_posts">
            <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
            <div class="apple_pagination">
              <div class="page_info">
              </div>
              <%= will_paginate @posts, :container => false %>
            </div>
          </section>
      <% else %>
          <p>
            <%= t('.no_posts') %>
          </p>
      <% end %>
    </div>
    <section class="span3 sidebar secondary-column" id="secondary-nav">
      <%= render :partial => "/refinery/blog/shared/categories" %>
      <%= render :partial => "/refinery/blog/shared/tags" %>
      <%= blog_archive_widget %>


    </section>
  </div>
</div>